<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Lab-IronBeers</title>
</head>
<header>
    <nav>
        <a href="/"><i class="fas fa-home"></i></a>
        <a href="/beers"><i class="fas fa-beer"></i></a>
        <a href="/randomBeer"><i class="fas fa-random"></i></a>
    </nav>

</header>

<body>
    {{{ body }}}
</body>

<footer>
    <div>
        <a href="https://github.com/Polseznec">&copy; IronHack || By P.Ø.L</a>
    </div>
</footer>

</html>